@{
    Layout = "/Views/Account/_Layout.cshtml";
    ViewData["Title"] = "Acceso denegado";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">No tienes acceso a este recurso, si piensa que es un error favor contacte a su administrador.</p>
</header>
