@{
    Layout = "/Views/Account/_Layout.cshtml";
    ViewData["Title"] = "Registro exitoso";
}
<h2 class="mt-4">@ViewData["Title"]</h2>
<div class="card">
    <div class="card-body">
        <p>Dentro de los próximos días será contactado(a) por el equipo de Gestiona Energía vía correo electrónico, para la creación de su usuario</p>
    </div>
    <div class="card-footer">
        <a href="https://sectorpublico.gestionaenergia.cl/ ">Volver</a>
    </div>
</div>