@model ForgotPasswordViewModel
@{
    Layout = "/Views/Account/_Layout.cshtml";
    ViewData["Title"] = "¿Olvidó su contraseña?";
}

<div class="row">
    <div class="col-12 text-center">
        <br />
        <h3>@ViewData["Title"]</h3>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-12">
        <p>
            Si olvidó su contraseña ingrese su dirección de email a continuación y le enviaremos un link para que pueda cambiarla. <a asp-action="login">Volver</a>.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form asp-action="ForgotPassword" class="form-inline">
            <div class="form-group col-sm-8  mx-sm-3 mb-2">
                <input asp-for="Email" class="form-control col-sm-10">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Enviar</button>
        </form>
    </div>
</div>