@{
    Layout = "/Views/Account/_Layout.cshtml";
    ViewData["Title"] = "Cambio de contraseña olvidada";
}

<h2>@ViewData["Title"]</h2>
<p>
    Se ha enviado un link para cambiar su contraseña, favor revise su correo electrónico.
</p>
