@{
    Layout = "/Views/Account/_Layout.cshtml";
    ViewData["Title"] = "Bloqueada";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Esta cuenta ha sido bloqueada, contacte a su administrador o intente más tarde.</p>
</header>
