@{
    Layout = "/Views/Account/_Layout.cshtml";
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<h2>@ViewData["Title"]</h2>
<p>
    Su contraseña ha sido cambiada. Para ingresar <a asp-action="Login">haga click aquí</a>.
</p>
