<footer class="footer-me">
  <div class="div-mobile" >
    <p>Ministerio de energia - Gobierno de chile -  2021</p>
  </div>
  <ion-grid class="footer-web">
    <ion-row>
      <ion-col class="first">
        <h3>Dirección</h3>
          <div class="footer-me-content">
            <h5>Ministerio de Energía</h5>
            <p>Alameda 1449, Pisos 13 y 14, Ediﬁcio
              Santiago Downtown II, Santiago de Chile</p>
          </div>
      </ion-col>
      <ion-col class="second">
        <h3>Contacto</h3>
        <div class="footer-me-content">
          <br>
          <p>+56 22 365 6800</p>
          <p>info@minenergia.cl</p>
        </div>
      </ion-col>
      <ion-col>
        <div class="footer-me-rs">
          <ion-grid>
            <ion-col>
              <ion-button  href="https://es-la.facebook.com/minenergia/" target="_blank"  style=" background-color: transparent !important;">
                <ion-icon  name="logo-facebook"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button class="footer-rs" href="https://twitter.com/MinEnergia" target="_blank">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button href="https://www.instagram.com/minenergia" target="_blank">
                <ion-icon name="logo-instagram"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-grid>
  <img src="/assets/images/Linea-Gob.svg" alt="" class="footer-logo-gob">
</footer>