@model Permisos

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Permisos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MenuId" class="control-label"></label>
                <select asp-for="MenuId" class="form-control" asp-items="ViewBag.MenuId"></select>
                <span asp-validation-for="MenuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolId" class="control-label"></label>
                <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
                <span asp-validation-for="RolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Lectura" /> @Html.DisplayNameFor(model => model.Lectura)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Escritura" /> @Html.DisplayNameFor(model => model.Escritura)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

