<ion-content>
  <div id="header">
    <h1>Ingresar</h1>
    <img src="assets/images/logo.png"/>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-xl="6" size-lg="6" size-md="8" size-sm="12" size-xs="12">
        <form id="form" (ngSubmit)="login( fLogin)" #fLogin="ngForm">
          <ion-item class="ion-margin-bottom">
            <ion-input 
            type="text" 
            placeholder="Email" 
            [(ngModel)]="loginUser.email"
            name="email"
            required
            ></ion-input>
          </ion-item>
         
          <ion-item class="ion-margin-bottom">
            <ion-input 
            type="password" 
            placeholder="Password" 
            [(ngModel)]="loginUser.password"
            name="password"
            required
            ></ion-input>
          </ion-item>
          <ion-button type="submit"  expand="block" shape="round">
           Ingresar
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
