/****** Object:  StoredProcedure [dbo].[SP_UNIDADES_TODOS_LOS_SERVICIOS]    Script Date: 22/06/2020 9:04:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
-- =============================================
-- Author:		Ivan Molina H (APIUX) - sigmavirus@gmail.com
-- Create date: 22/06/2020
-- Description:	Base preliminar de datos para reporte de Unidades por Servicio para Excel con [ServicioId].xlsx
--              SUPUESTO: La PRIMERA COLUMNA DEL EXCEL (Nro,incremental, ejm: 1, 2, 3 correspondiente a fila)
--              en el Excel SE AGREGA POR APLICACION ORQUESTADORA EN C#. Y ademas se obtiene Conjunto Completo
--              PARA TODOS LOS SERVICIOS, por lo que NO HAY PARAMETRO ServicioId
Modificaciones:
  22/06/2020 18:24: Cambiar Nombres de columnas a ProperCase para poder leerlas desde un DbContext (.NET) sin eñes, acentos, espacios, etc
  23/06/2020 11:36: Incluir columna "Artificial" Int64PK para que la llene EF Core con estrategia de identity SQL Server
  23/06/2020 12:34: Probando columna "Artificial" Int64PK con valor por defecto 0 bigint para que la llene EF Core 
                    con estrategia de identity SQL Server (UseSqlServerIdentityColumn en OnModelCreating(ModelBuilder modelBuilder))
  25/06/2020 10:04: Probando cambiar columna "Artificial" Int64PK usando ROW_NUMBER con ORDER BY Servicio.Id y Region.Id, Edificio.Id y Division.Id
  26/06/2020 11:33: Capturando NULL's en NroDeRol para dejarlos en '0' y que con ese string se sepa que es 'sin información'
-- =============================================
 EXEC [SP_UNIDADES_TODOS_LOS_SERVICIOS] */
CREATE PROCEDURE [dbo].[SP_UNIDADES_TODOS_LOS_SERVICIOS]
AS
BEGIN

	SET NOCOUNT ON;

	declare @listado_ids_servicio table
	(ServicioId bigint PRIMARY KEY,
	NombreServicio nvarchar(1024) NULL)

	insert @listado_ids_servicio
	select s.Id, s.Nombre from Servicios s
	where s.Active = 1
	order by s.Id

	-- variable tipo tabla para determinar cantidad de medidores por division
	-- que sean Gas natural (GN) o Electricos
	-- Yace bajo el SUPUESTO que los ID's de Energeticos NO MUTAN, es decir:
	-- TipoMedidor:3 = electrico, TipoMedido:2 = GN, TipoMedido:0 = N/A (Ficticio el ultimo)
	declare @medidores_por_division table
	(ServicioId bigint
	,DivisionId bigint
	,TipoMedidor tinyint
	,CantMedidores int
	PRIMARY KEY (ServicioId, DivisionId, TipoMedidor)
	) 

	insert @medidores_por_division
	select	s.ServicioId
			,d.Id
			,en.Id
			,SUM(ISNUMERIC(md.MedidorId))
	from Divisiones d
	inner join @listado_ids_servicio s on s.ServicioId = d.ServicioId
	left join MedidorDivision md on md.DivisionId = d.Id
	left join Medidores m on m.Id = md.MedidorId and m.Active = 1
	left join NumeroClientes nc on nc.Id = m.NumeroClienteId and nc.Active = 1
	left join EmpresaDistribuidoras ed on ed.Id = nc.EmpresaDistribuidoraId and ed.Active = 1
	left join Energeticos en on en.Id = ed.EnergeticoId and en.Active = 1
	where en.Id between 2 and 3
--	where d.ServicioId = @ServicioId
	group by s.ServicioId, d.Id, en.Id

	--select * from @medidores_por_division mdd
	--order by mdd.DivisionId

	select
		--null as 'Int64PK' --lo llena EF Core con un campo identity (portar esto a otro motor que no sea SqlServer requeriria otro enfoque, sequencia por ejm)
		ROW_NUMBER() OVER(ORDER BY s.ServicioId, co.RegionId, e.Id, d.Id) AS 'Int64PK'
		, s.NombreServicio 'NombreServicio'
		, s.ServicioId 'ServicioId'
		, co.RegionId 'RegionId'
		, co.Nombre 'NombreComuna'
		, e.Direccion 'DireccionEdificio'
		, e.Id 'IdEdificio'
		, d.Direccion 'NombreUnidad'
		, d.Id 'IdUnidad'
		, d.Superficie 'SuperficieUnidad'
		, d.ComparteMedidorElectricidad 'ComparteMedidorElectricidad'
		, d.ComparteMedidorGasCanieria 'ComparteMedidorGasCanheria'
		, d.ReportaPMG 'MedicionExclusiva'
		, ISNULL(mdElec.CantMedidores,0) 'NroMedidoresElectricidad'
		, ISNULL(mdGN.CantMedidores,0) 'NroMedidoresGN'
		, tu.Nombre 'TipoEdificio' --te.Nombre
		, ISNULL(d.NroRol, '0') 'NroDeRol'
		, d.Funcionarios 'NroDeFuncionarios'
		, d.AnyoConstruccion 'AnhoConstruccion'
		, tp.Nombre 'TipoPropiedad' 
	from Divisiones d
	inner join @listado_ids_servicio s on s.ServicioId = d.ServicioId
	inner join Edificios e on e.Id = d.EdificioId
	inner join Comunas co on co.Id = e.ComunaId
	left join @medidores_por_division mdElec on mdElec.DivisionId = d.Id and mdElec.TipoMedidor = 3
	left join @medidores_por_division mdGN on mdGN.DivisionId = d.Id and mdGN.TipoMedidor = 2
	left join TipoEdificios te on te.Id = e.TipoEdificioId
	left join TipoUsos tu on d.TipoUsoId = tu.Id
	left join TipoPropiedades tp on d.TipoPropiedadId = tp.Id
	where 
	d.Active = 1
--	and d.ServicioId = @ServicioId
	order by s.ServicioId, co.RegionId, e.Id, d.Id
END