/****** Object:  StoredProcedure [dbo].[SP_UNIDADES_TODOS_LOS_SERVICIOS]    Script Date: 01/07/2020 9:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
-- =============================================
-- Author:		Ivan Molina H (APIUX)
-- Create date: 17/07/2020
-- Description:	Base preliminar de datos para REPORTE EXTENDIDO para Un servicio ESPECIFICO para Excel con [ServicioId].xlsx
--              Basado en SP_REPORTE_EXTENDIDO pues TRAER TODOS LOS 200000 aprox. registros se demora un buen tiempo al momento
                de ejecutar el SP, pero por sobre todo, MUCHA RAM por tener TODOS los 200000 registros en memoria en VStudio 
				y mucho TIEMPO DE EJECUCION para abarcar TODO DE UNA SOLA VEZ que impacta FUERTEMENTE en el REPORTE COMPACTO
				pues dependen del resultado del REPORTE EXTENDIDO y es mala estrategia que un ID servicio específico tenga que
				ESPERAR EL PROCESAMIENTO DE LOS aprox 200000 registros.
-- Modificacion:
                 By Ivan Molina H. (APIUX)
				 Version inicial a parte de SP_REPORTE_EXTENDIDO pero para un REPORTE en específico
-- =============================================
 EXEC [SP_REPORTE_EXTENDIDO_POR_SRV] 491*/
CREATE PROCEDURE [dbo].[SP_REPORTE_EXTENDIDO_POR_SRV]
@ServicioIdParam bigint
AS
BEGIN

SET NOCOUNT ON;

IF OBJECT_ID('tempdb.dbo.#compras_result_por_serv', 'U') IS NOT NULL
  DROP TABLE #compras_result_por_serv; 
--IMPORTANTE!!!! IMPORTANTE!!!! IMPORTANTE!!!! IMPORTANTE!!!! 
--CRUZARSE CON MedidorDivision!!!!!!!!!!!
--PARA OBTENER LA CANTIDAD DE COMPRAS UNICAS = 197706!!!!!
SET ANSI_WARNINGS  OFF;

CREATE TABLE #compras_result_por_serv
(
--Int64PK bigint identity(1,1) not null PRIMARY KEY,
IdDivisionCompra bigint not null,
IdCompra bigint not null,
IdCompraMedidor bigint not null,
NomInstitucion varchar(255),
NomServicio varchar(255),
ServicioId bigint not null,
Division varchar(255),
Region varchar(64),
RegionOrder int not null,
Comuna varchar(64),
Superficie real,
EnergeticoId bigint not null,
Energetico varchar(128),
EnergeticoPermiteMedidor bit not null,
Factor real,
TipoTransaccion varchar(32),
FechaCompra datetime2(7) not null,
InicioLectura datetime2(7) not null,
FinLectura datetime2(7) not null,
Cantidad real,
UnidadMedida varchar(64), --luego al EXPANDIR esto al PRORRATEAR se convierte en kWh TODO (Electricidad, Gas, Diesel, etc)
Costo bigint,
EmpresaDistribuidora varchar(255),
NumeroDeCliente varchar(255),
IdNumeroDeCliente bigint not null,
NumeroDeMedidor varchar(255),
IdDeMedidor bigint,
EstadoValidacionId varchar(32),
ObservacionCompra varchar(384),
ObservacionRevision varchar(384),
PropiedadMedidor varchar(32),
IdDivisionDelMedidor bigint null,
IdEdificioDelMedidor bigint null,
PRIMARY KEY (IdDivisionCompra, IdCompra, IdCompraMedidor)
)

	SET NOCOUNT ON;
	insert #compras_result_por_serv
		select
		 c.DivisionId 'IdDivisionCompra'
		,c.Id 'IdCompra'
		,ISNULL(cm.Id,-1) 'IdCompraMedidor'
		,i.Nombre 'NomInstitucion'
		,s.Nombre 'NomServicio'
		,s.Id 'ServicioId'
		,d.Nombre 'Division'
		,re.Nombre 'Region'
		,re.Posicion 'RegionOrder'
		,co.Nombre 'Comuna'
		,d.Superficie 'Superficie'
		,en.Id 'EnergeticoId'
		,en.Nombre 'Energetico'
		,en.PermiteMedidor 'EnergeticoPermiteMedidor'
		, case when c.UnidadMedidaId is null then 
				case when cm.ParametroMedicionId is not null then
					(select Factor from EnergeticoUnidadesMedidas eum where  eum.UnidadMedidaId =
					(select id from UnidadesMedida um where um.Id = (select pm.UnidadesMedidaId from ParametrosMedicion pm where pm.Id = cm.ParametroMedicionId) ) -- cuando es electricidad se valida la unidad de medida del parametro de medicion
					and EnergeticoId = c.EnergeticoId)
				else
					(select	 Factor from EnergeticoUnidadesMedidas eum where  eum.UnidadMedidaId =
					(select Id from UnidadesMedida um where um.Id = cm.UnidadMedidaId ) -- cualquier otro energetico es con unidad de medida
					and EnergeticoId = c.EnergeticoId)
				end
			else 
				(select	 Factor from EnergeticoUnidadesMedidas eum where  eum.UnidadMedidaId =
				(select Id from UnidadesMedida um where um.Id = c.UnidadMedidaId ) 
				and EnergeticoId = c.EnergeticoId)
			end 'factor_conversion'
		,'Compra' 'TipoTransaccion'
		,c.FechaCompra 'FechaCompra'
		,c.InicioLectura 'InicioLectura'
		,c.FinLectura 'FinLectura'
		,isnull(cm.Consumo, c.Consumo) 'Cantidad'
		, case when c.UnidadMedidaId is null then
				case when cm.ParametroMedicionId is not null then
					(select Nombre from UnidadesMedida um where um.Id = (select pm.UnidadesMedidaId from ParametrosMedicion pm where pm.Id = cm.ParametroMedicionId) ) -- cuando es electricidad se valida la unidad de medida del parametro de medicion
				else
					(select Nombre from UnidadesMedida um where um.Id = cm.UnidadMedidaId ) -- cualquier otro energetico es con unidad de medida
				end
			else 
				(select Nombre from UnidadesMedida um where um.Id = c.UnidadMedidaId ) 
			end 'UnidadMedida'
		, cast(isnull(c.Costo,-1) as bigint) 'Costo'
		, ed.Nombre 'EmpresaDistribuidora'
		, nc.Numero 'NumeroCliente'
		, ISNULL(nc.Id,-1) 'IdNumeroCliente'
		, m.Numero 'NumeroDeMedidor'
		, m.Id 'IdDeMedidor'
		, c.EstadoValidacionId 'EstadoValidacionId'
		, c.Observacion 'ObservacionCompra'
		, c.ObservacionRevision 'ObservacionRevision'
		,case 
			when dvm.EdificioId is null then 'Sin Informacion'
			when dvm.EdificioId = e.Id then 'Propio'
			--when edm.Id  <> edi.Id then 'Otro' 
			else 'Otro' end 'PropiedadMedidor'
		,dvm.Id 'IdDivisionDelMedidor'
		,dvm.EdificioId 'IdEdificioDelMedidor'
		--, re.Nombre 'region'
		--, co.Nombre 'comuna'
		--, d.Direccion 'nombre_unidad'
		--, d.Id 'id_unidad'
		--, d.Superficie 'superficie'
		--, en.Nombre 'energetico'
		----(select Factor from EnergeticoUnidadesMedidas eum where eum.EnergeticoId = c.EnergeticoId and eum.UnidadMedidaId = c.UnidadMedidaId) 'factor_conversion'
		--, ed.Nombre 'empresa distribuidora'
		--, nc.Numero 'numero_cliente'
		--, nc.Id 'numero cliente Id'
		--, m.Numero 'numero_medidor'
		--, m.Id 'id_medidor'
		--, cm.id 'id_consumos'
		--, isnull(cm.Consumo, c.Consumo) 'cantidad'
		--, c.InicioLectura
		--, c.FinLectura
		--, d.ComparteMedidorElectricidad 'Comparte medidor electricidad'
		--, d.ComparteMedidorGasCanieria 'Comparte medidor gas por cañeria'
		--, e.Id 'id_edificio'
		--, c.Id 'Id_compra'
		--, aa.Nombre 'link_factura'
		--, c.Observacion 'obs'
		--, creadoPor.Nombres + ' ' + creadoPor.Apellidos 'Creado_por'
		--, c.CreatedAt 'created_at'
		--, modificadoPor.Nombres + ' ' + modificadoPor.Apellidos 'modificado por'
		--, c.UpdatedAt 'modificado_at'
		--, '' 'validad por'
		--, c.EstadoValidacionId 'estado_validacion'
		----, '' 'deleted_at'
		--, m.Compartido 'medidor_compartido'
		--, c.FechaCompra,
		--c.CreatedByDivisionId as 'creada_por_id_unidad',
		--SUBSTRING(REPLACE(aa.Url,'\',''),37,999) 'id_factura'
FROM
	Compras c 
	join Divisiones d on c.DivisionId = d.Id
	join Servicios s on s.id = d.ServicioId and s.Id = @ServicioIdParam
	join Instituciones i on i.Id = s.InstitucionId
	join Edificios e on e.Id = d.EdificioId
	join Comunas co on co.Id = e.ComunaId
	join Regiones re on re.Id = co.RegionId
	join Energeticos en on en.Id = c.EnergeticoId
	left join CompraMedidor (nolock) cm on cm.CompraId = c.Id
	left join NumeroClientes (nolock) nc on c.NumeroClienteId = nc.Id
	left join EmpresaDistribuidoras (nolock) ed on ed.Id = nc.EmpresaDistribuidoraId
	join 
	--Medidores (nolock) m on cm.MedidorId = m.Id
	(
		select m.Id,m.Compartido, m.Numero
		from Medidores m 
		join MedidorDivision md on m.Id = md.MedidorId 
		where md.Active = 1
		GROUP BY m.Id,Compartido,m.Numero
	) m on cm.MedidorId = m.Id
	left join Medidores med on med.Id = m.Id
	left join Divisiones dvm on dvm.Id = med.DivisionId
	inner join ArchivoAdjuntos (nolock) aa on c.FacturaId = aa.Id
	left outer join AspNetUsers (nolock) modificadoPor on c.ModifiedBy = modificadoPor.id
	left outer join AspNetUsers (nolock) creadoPor on c.CreatedBy = creadoPor.id
	--left join MedidorDivision (nolock) md on md.MedidorId = m.Id
WHERE
	c.Active = 1
	and en.PermiteMedidor = 1 and d.Active = 1 and  c.EnergeticoId <> 1

insert #compras_result_por_serv
   	select
		 c.DivisionId 'IdDivisionCompra'
		,c.Id 'IdCompra'
		,ISNULL(cm.Id,-1) 'IdCompraMedidor'
		,i.Nombre 'NomInstitucion'
		,s.Nombre 'NomServicio'
		,s.Id 'ServicioId'
		,d.Nombre 'Division'
		,re.Nombre 'Region'
		,re.Posicion 'RegionOrder'
		,co.Nombre 'Comuna'
		,d.Superficie 'Superficie'
		,en.Id 'EnergeticoId'
		,en.Nombre 'Energetico'
		,en.PermiteMedidor 'EnergeticoPermiteMedidor'
		, case when c.UnidadMedidaId is null then 
				case when cm.ParametroMedicionId is not null then
					(select Factor from EnergeticoUnidadesMedidas eum where  eum.UnidadMedidaId =
					(select id from UnidadesMedida um where um.Id = (select pm.UnidadesMedidaId from ParametrosMedicion pm where pm.Id = cm.ParametroMedicionId) ) -- cuando es electricidad se valida la unidad de medida del parametro de medicion
					and EnergeticoId = c.EnergeticoId)
				else
					(select	 Factor from EnergeticoUnidadesMedidas eum where  eum.UnidadMedidaId =
					(select Id from UnidadesMedida um where um.Id = cm.UnidadMedidaId ) -- cualquier otro energetico es con unidad de medida
					and EnergeticoId = c.EnergeticoId)
				end
			else 
				(select	 Factor from EnergeticoUnidadesMedidas eum where  eum.UnidadMedidaId =
				(select Id from UnidadesMedida um where um.Id = c.UnidadMedidaId ) 
				and EnergeticoId = c.EnergeticoId)
			end 'Factor'
		, 'Compra' 'TipoTransaccion'
		, c.FechaCompra 'FechaCompra'
		, c.InicioLectura 'InicioLectura'
		, c.FinLectura 'FinLectura'
		, isnull(cm.Consumo, c.Consumo) 'cantidad'
		, case when c.UnidadMedidaId is null then
				case when cm.ParametroMedicionId is not null then
					(select Nombre from UnidadesMedida um where um.Id = (select pm.UnidadesMedidaId from ParametrosMedicion pm where pm.Id = cm.ParametroMedicionId) ) -- cuando es electricidad se valida la unidad de medida del parametro de medicion
				else
					(select Nombre from UnidadesMedida um where um.Id = cm.UnidadMedidaId ) -- cualquier otro energetico es con unidad de medida
				end
			else 
				(select Nombre from UnidadesMedida um where um.Id = c.UnidadMedidaId ) 
			end 'UnidadMedida'
		, cast(isnull(c.Costo,-1) as bigint) 
		--(select Factor from EnergeticoUnidadesMedidas eum where eum.EnergeticoId = c.EnergeticoId and eum.UnidadMedidaId = c.UnidadMedidaId) 'factor_conversion'
		, ed.Nombre 'EmpresaDistribuidora'
		, nc.Numero 'NumeroCliente'
		, ISNULL(nc.Id,-1) 'IdNumeroCliente'
		, m.Numero 'NumeroDeMedidor'
		, m.Id 'IdDeMedidor'
		, c.EstadoValidacionId 'EstadoValidacionId'
		, c.Observacion 'ObservacionCompra'
		, c.ObservacionRevision 'ObservacionRevision'
		,'Sin Informacion' 'PropiedadMedidor'
		,NULL 'IdDivisionDelMedidor'
		,NULL 'IdEdificioDelMedidor'

		--, d.ComparteMedidorElectricidad 'Comparte medidor electricidad'
		--, d.ComparteMedidorGasCanieria 'Comparte medidor gas por cañeria'
		--, e.Id 'id_edificio'
		--, c. Id 'Id_compra'
		--, aa.Nombre 'link_factura'
		--, c.Observacion 'obs'
		--, creadoPor.Nombres + ' ' + creadoPor.Apellidos 'Creado_por'
		--, c.CreatedAt 'created_at'
		--, modificadoPor.Nombres + ' ' + modificadoPor.Apellidos 'modificado por'
		--, c.UpdatedAt 'modificado_at'
		--, '' 'validad por'
		--, c.EstadoValidacionId 'estado_validacion'
		----, '' 'deleted_at'
		--, m.Compartido 'medidor_compartido'
		--, c.FechaCompra,
		--c.CreatedByDivisionId as 'creada_por_id_unidad',
		--SUBSTRING(REPLACE(aa.Url,'\',''),37,999) 'id_factura'
	from Compras (nolock) c
	inner join Divisiones (nolock) d on c.DivisionId = d.Id 
	inner join Edificios (nolock) e on d.EdificioId = e.Id
	inner join Servicios (nolock) s on d.ServicioId = s.Id and s.Id = @ServicioIdParam
	inner join Instituciones (nolock) i on s.InstitucionId = i.Id
	left join NumeroClientes (nolock) nc on c.NumeroClienteId = nc.Id
	left join CompraMedidor (nolock) cm on cm.CompraId = c.Id
	left join Medidores (nolock) m on cm.MedidorId = m.Id
	left join EmpresaDistribuidoras (nolock) ed on ed.Id = nc.EmpresaDistribuidoraId
	inner join Energeticos (nolock) en on c.EnergeticoId = en.Id
	inner join Comunas (nolock) co on e.ComunaId = co.Id
	inner join Regiones (nolock) re on co.RegionId = re.Id
	inner join ArchivoAdjuntos (nolock) aa on c.FacturaId = aa.Id
	left outer join AspNetUsers (nolock) modificadoPor on c.ModifiedBy = modificadoPor.id
	left outer join AspNetUsers (nolock) creadoPor on c.CreatedBy = creadoPor.id
	where c.Active = 1 and en.PermiteMedidor = 0 and d.Active = 1 

	--UNION ALL
	-- Energetico Gas licuado de petroleo que no tienen nuemeros de cliente
	insert #compras_result_por_serv
   	select
		 c.DivisionId 'IdDivisionCompra'
		,c.Id 'IdCompra'
		,ISNULL(cm.Id,-1) 'IdCompraMedidor'
		,i.Nombre 'NomInstitucion'
		,s.Nombre 'NomServicio'
		,s.Id 'ServicioId'
		,d.Nombre 'Division'
		,re.Nombre 'Region'
		,re.Posicion 'RegionOrder'
		,co.Nombre 'Comuna'
		,d.Superficie 'Superficie'
		,en.Id 'EnergeticoId'
		,en.Nombre 'Energetico'
		,en.PermiteMedidor 'EnergeticoPermiteMedidor'
		, case when c.UnidadMedidaId is null then 
				case when cm.ParametroMedicionId is not null then
					(select Factor from EnergeticoUnidadesMedidas eum where  eum.UnidadMedidaId =
					(select id from UnidadesMedida um where um.Id = (select pm.UnidadesMedidaId from ParametrosMedicion pm where pm.Id = cm.ParametroMedicionId) ) -- cuando es electricidad se valida la unidad de medida del parametro de medicion
					and EnergeticoId = c.EnergeticoId)
				else
					(select	 Factor from EnergeticoUnidadesMedidas eum where  eum.UnidadMedidaId =
					(select Id from UnidadesMedida um where um.Id = cm.UnidadMedidaId ) -- cualquier otro energetico es con unidad de medida
					and EnergeticoId = c.EnergeticoId)
				end
			else 
				(select	 Factor from EnergeticoUnidadesMedidas eum where  eum.UnidadMedidaId =
				(select Id from UnidadesMedida um where um.Id = c.UnidadMedidaId ) 
				and EnergeticoId = c.EnergeticoId)
			end 'factor_conversion'
		, 'Compra' 'TipoTransaccion'
		, c.FechaCompra 'FechaCompra'
		, c.InicioLectura 'InicioLectura'
		, c.FinLectura 'FinLectura'
		, isnull(cm.Consumo, c.Consumo) 'cantidad'
		, case when c.UnidadMedidaId is null then
				case when cm.ParametroMedicionId is not null then
					(select Nombre from UnidadesMedida um where um.Id = (select pm.UnidadesMedidaId from ParametrosMedicion pm where pm.Id = cm.ParametroMedicionId) ) -- cuando es electricidad se valida la unidad de medida del parametro de medicion
				else
					(select Nombre from UnidadesMedida um where um.Id = cm.UnidadMedidaId ) -- cualquier otro energetico es con unidad de medida
				end
			else 
				(select Nombre from UnidadesMedida um where um.Id = c.UnidadMedidaId ) 
			end 'unidad medida'
		--(select Factor from EnergeticoUnidadesMedidas eum where eum.EnergeticoId = c.EnergeticoId and eum.UnidadMedidaId = c.UnidadMedidaId) 'factor_conversion'
		, cast(isnull(c.Costo,-1) as bigint) 
		, ed.Nombre 'empresa distribuidora'
		, nc.Numero 'numero_cliente'
		, ISNULL(nc.Id,-1) 'IdNumeroCliente'
		, m.Numero 'numero_medidor'
		, m.Id 'id_medidor'
		, c.EstadoValidacionId 'EstadoValidacionId'
		, c.Observacion 'ObservacionCompra'
		, c.ObservacionRevision 'ObservacionRevision'
		,'Sin Informacion' 'PropiedadMedidor'
		,NULL 'IdDivisionDelMedidor'
		,NULL 'IdEdificioDelMedidor'
		--, cm.id 'id_consumos'
		--, c.InicioLectura
		--, c.FinLectura
		--, d.ComparteMedidorElectricidad 'Comparte medidor electricidad'
		--, d.ComparteMedidorGasCanieria 'Comparte medidor gas por cañeria'
		--, e.Id 'id_edificio'
		--, c. Id 'Id_compra'
		--, aa.Nombre 'link_factura'
		--, c.Observacion 'obs'
		--, creadoPor.Nombres + ' ' + creadoPor.Apellidos 'Creado_por'
		--, c.CreatedAt 'created_at'
		--, modificadoPor.Nombres + ' ' + modificadoPor.Apellidos 'modificado por'
		--, c.UpdatedAt 'modificado_at'
		--, '' 'validad por'
		--, c.EstadoValidacionId 'estado_validacion'
		----, '' 'deleted_at'
		--, m.Compartido 'medidor_compartido'
		--, c.FechaCompra,
		--c.CreatedByDivisionId as 'creada_por_id_unidad',
		--SUBSTRING(REPLACE(aa.Url,'\',''),37,999) 'id_factura'
	from Compras (nolock) c
	inner join Divisiones (nolock) d on c.DivisionId = d.Id 
	inner join Edificios (nolock) e on d.EdificioId = e.Id
	inner join Servicios (nolock) s on d.ServicioId = s.Id and s.Id = @ServicioIdParam
	inner join Instituciones (nolock) i on s.InstitucionId = i.Id
	left join NumeroClientes (nolock) nc on c.NumeroClienteId = nc.Id
	left join CompraMedidor (nolock) cm on cm.CompraId = c.Id
	left join Medidores (nolock) m on cm.MedidorId = m.Id
	left join EmpresaDistribuidoras (nolock) ed on ed.Id = nc.EmpresaDistribuidoraId
	inner join Energeticos (nolock) en on c.EnergeticoId = en.Id
	inner join Comunas (nolock) co on e.ComunaId = co.Id
	inner join Regiones (nolock) re on co.RegionId = re.Id
	inner join ArchivoAdjuntos (nolock) aa on c.FacturaId = aa.Id
	left outer join AspNetUsers (nolock) modificadoPor on c.ModifiedBy = modificadoPor.id
	left outer join AspNetUsers (nolock) creadoPor on c.CreatedBy = creadoPor.id
	where c.Active = 1 and en.PermiteMedidor = 1 and c.EnergeticoId = 1  and d.Active = 1
	order by e.Id, c.Id 


SELECT
IdDivisionCompra,
IdCompra,
IdCompraMedidor,
NomInstitucion,
NomServicio,
ServicioId,
Division,
Region,
RegionOrder,
Comuna,
Superficie,
EnergeticoId,
Energetico,
EnergeticoPermiteMedidor,
Factor,
TipoTransaccion,
FechaCompra,
InicioLectura,
FinLectura,
Cantidad,
UnidadMedida,
Costo,
EmpresaDistribuidora,
NumeroDeCliente,
IdNumeroDeCliente,
NumeroDeMedidor,
IdDeMedidor,
EstadoValidacionId,
ObservacionCompra,
ObservacionRevision,
PropiedadMedidor,
IdDivisionDelMedidor,
IdEdificioDelMedidor
FROM #compras_result_por_serv CR
order by CR.ServicioId, CR.RegionOrder, CR.Comuna, CR.FechaCompra, CR.InicioLectura
SET ANSI_WARNINGS ON;

delete #compras_result_por_serv
drop table #compras_result_por_serv
END