/****** Object:  StoredProcedure [dbo].[SP_REPORTE_COMPACTO]    Script Date: 01/07/2020 9:15:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
-- =============================================
-- Author:		Ivan Molina H (APIUX)
-- Create date: 17/07/2020 17:46
-- Description:	Base preliminar de datos para REPORTE COMPACTO para Un Servicio en particular para Excel con [ServicioId].xlsx
--              ACUERDOS: Lo conversado en reunion del 16/07/2020 a las 15:30 fue basarse en SP_REPORTE_EXTENDIDO según: 
                1) Todas las menciones a la palabra EDIFICIO se deben CAMBIA A UNIDAD (y apuntar a la tabla Divisiones)
				2) La parte que itera hacia abajo va "Agrupada" Por Unidad y energético. Al parecer si una unidad 
				posee medidor de UN SOLO TIPO de energético, LA UNIDAD queda con la clasificación del energético 
				(Ejm:, usa sólo electricidad: ELÉCTRICA, Usa sólo diesel, PETROLERO?)
				3) Si UNA UNIDAD cuenta con más de un tipo de energético QUE PERMITE MEDIDOR, al parecer se considera MIXTA
				(esto no quedó confirmado)
				4) Si UNA UNIDAD cuenta con más de un tipo de energético pero de todos ellos hay UN SÓLO TIPO DE ENERGÉTICO QUE PERMITE MEDIDOR
				AL PARECER se considera del tipo del energético con medidor (ejm: ELECTRICIDAD, Leña, Diesel => LA UNIDAD es ELEÉCTRICA
				5) Si UNA UNIDAD posee dentro de sus medidores un medidor compartido (o el campo en la tabla división así lo indica en el dato
				de "Medidor Exclusivo" = false) la DIVISION se considera MEDIDOR COMPARTIDO
				6) Para evitar al largo tiempo en ejecutar el SP (como ocurrió con el REPORTE_EXTENDIDO) y SOBRE TODO, REDUCIR CONSIDERABLEMENTE
				EL CONSUMO DE RAM, éste SP tomará como PARÁMETRO EL ID DE SERVICIO (quizá se aplique lo mismo como mejor para SP_REPORTE_EXENDIDO
-- Modificacion: By Ivan Moñina H (APIUX)
                 2020-07-21 09:18 - Se deja Superficie como float nullable puesto que no se acepto por lgarcia@minergia.cl dejar en -1 (long) cuando el dato venga nulo.
				 Además hay un caso en que la superficie aparece con decimales (ServicioId 491, DivisionId 7090)
                 2020-07-21 10:10 - Mal escrito campo 'MedidorExclusivo', decía 'MedidorExcusivo'
                 2020-07-21 10:08 - Dejar campo @compras_energ_por_division.EnergeticoId como estaba, es decir bigint y no tinyint
                 2020-07-21 10:11 - Se deja Superficie como real pues ESE es el mapeo hacia FLOAT de C#, float de SQL Server se mapea a DOUBLE de c#
				 2020-07-24 11:30 - EN REUNION EN VIVO este día se INCLUYE Gas Licuado SIN IdNroCliente en REPORTE_COMPACTO con VºBº de Luis Garcia P.
				                    Y ADEMÁS la comparación o PAUTA va por el REPORTE_EXTENDIDO GENERADO POR LA APLICACION ORQUESTADORA
									(VºBº de Luis Garcia P. también
                 2020-07-24 21:20 - Se agregan Energéticos independiente si no están activos pues para registros históricos no aparecerían si
				                    se restringe en el join solo los energeticos activos.
                 2020-07-28 11:42 - Se agregan campo RegionNom para el nombre de la region de modo que aparezca dicho dato IGUAL que
                                    en el REPORTE EXTENDIDO
                 2020-07-29 10:50 - Se cambio campo TipoEdificio a ClasificacionEdificio para no generar confusion. TipoEdificio es
				                    CALCULADO por la aplicacion orquestadora en base a los energetios y los campos MedidorMixo y MedidorExclusivo
									de este SP
-- =============================================
 EXEC [SP_REPORTE_COMPACTO] 491 
 EXEC [SP_REPORTE_COMPACTO] 468 
 EXEC [SP_REPORTE_COMPACTO] 632 
 EXEC [SP_REPORTE_COMPACTO] 710
 */
CREATE PROCEDURE [dbo].[SP_REPORTE_COMPACTO]
@ServicioIdParam bigint
AS
BEGIN

SET NOCOUNT ON;

declare @compras_energ_por_division table
(DivisionId bigint
,EnergeticoId bigint
,Energetico varchar(64)
,CantComprasDeEsteEnerg int
PRIMARY KEY (DivisionId, EnergeticoId)
) 

declare @division_con_medidor_mixto table
(DivisionId bigint not null
,EsMixto bit not null
PRIMARY KEY (DivisionId, EsMixto)
) 

--exec SP_REPORTE_EXTENDIDO 32

--insert @medidores_por_division
--select	d.Id 'DivisionId'
--		,en.Id 'EnergeticoId'
--		,SUM(ISNUMERIC(md.MedidorId)) 'CantMedidoresDeEsteEnerg'
--from Divisiones d
--join MedidorDivision md on md.DivisionId = d.Id
--join Medidores m on m.Id = md.MedidorId and m.Active = 1
--join NumeroClientes nc on nc.Id = m.NumeroClienteId and nc.Active = 1
--join EmpresaDistribuidoras ed on ed.Id = nc.EmpresaDistribuidoraId and ed.Active = 1
--join Energeticos en on en.Id = ed.EnergeticoId and en.Active = 1
--where d.ServicioId = @ServicioIdParam
----	where d.ServicioId = @ServicioId
--group by d.Id, en.Id

insert @compras_energ_por_division
select	d.Id 'DivisionId'
		,en.Id 'EnergeticoId'
		,en.Nombre 'Energetico'
		,1 'CantComprasDeEsteEnerg'
from Divisiones d
join Compras c on c.DivisionId = d.Id and c.Active = 1
join Energeticos en on en.Id = c.EnergeticoId --and en.Active = 1
join ArchivoAdjuntos fac on fac.Id = c.FacturaId
where d.ServicioId = @ServicioIdParam  
-- and -cast(en.PermiteMedidor as int) * cast(ISNULL(-NumeroClienteId,1) as int) >= 0
--	where d.ServicioId = @ServicioId
group by d.Id, en.Id, en.Nombre
order by d.Id, en.Id

insert @division_con_medidor_mixto
select 
 ced.DivisionId
,case
when SUM(cast(ene.PermiteMedidor as int) ) > 1 then 1
else 0
end 'MedidorMixto'
from @compras_energ_por_division ced
inner join Energeticos ene on ced.EnergeticoId = ene.Id
group by ced.DivisionId

select
 div.Id 'DivisionId'
,div.Direccion 'Division'
,reg.Id 'RegionId'
,reg.Posicion 'RegionPos'
,reg.Nombre 'RegionNom'
,cmu.Nombre 'Comuna'
,cast(div.Superficie as real) 'Superficie'
,ced.EnergeticoId
,ced.Energetico 'Energetico'
,dmm.EsMixto 'MedidorMixto'
,div.ReportaPMG 'MedidorExclusivo'
,tu.Nombre 'ClasificacionEdificio'
from Divisiones div
inner join Edificios edi on div.EdificioId = edi.Id
inner join Servicios ser on ser.Id = div.ServicioId
inner join Comunas cmu on cmu.Id = edi.ComunaId
inner join Regiones reg on cmu.RegionId = reg.Id
inner join @compras_energ_por_division ced on ced.DivisionId = div.Id
--inner join Energeticos ene on ced.EnergeticoId = ene.Id
left join @division_con_medidor_mixto dmm on dmm.DivisionId = div.Id
left join TipoEdificios te on te.Id = edi.TipoEdificioId
left join TipoUsos tu on div.TipoUsoId = tu.Id
--left join TipoPropiedades tp on div.TipoPropiedadId = tp.Id
where div.ServicioId = @ServicioIdParam

SET ANSI_WARNINGS ON;
END