GO
CREATE TABLE DivisionCambiosMedidores
(
Id bigint IDENTITY(1,1) not null,
CambioId bigint not null,
DivisionId bigint not null,
MedidorAntiguoId bigint null,
MedidorNuevoId bigint null,
CreatedAt datetime2(7) not null DEFAULT GETDATE(),
CONSTRAINT PK_DivisionCambiosMedidores PRIMARY KEY (Id),
CONSTRAINT FK_DivisionCambiosMedidores_Division_DivisionId FOREIGN KEY (DivisionId)
REFERENCES Divisiones (Id),
CONSTRAINT FK_DivisionCambiosMedidores_MedidorAntiguo_MedidorId FOREIGN KEY (MedidorAntiguoId)
REFERENCES Medidores (Id),
CONSTRAINT FK_DivisionCambiosMedidores_MedidorNuevo_MedidorId FOREIGN KEY (MedidorNuevoId)
REFERENCES Medidores (Id),
CONSTRAINT UK_DivisionCambiosMedidores_CambioDivMeds UNIQUE(DivisionId, CambioId, MedidorAntiguoId, MedidorNuevoId), 
CONSTRAINT CK_DivisionCambiosMedidores_NoDosMedidoresNulos CHECK (MedidorAntiguoId is not null or MedidorNuevoId is not null)
)
GO