/****** Object:  StoredProcedure [dbo].[SP_DIVISION_CAMBIOS_MEDIDORES]    Script Date: 05/08/2020 14:10:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
-- =============================================
-- Author:		Ivan Molina H (APIUX)
-- Create date: 05/08/2020 14:10
-- Description:	Base preliminar de datos para Reporte De Control De Carga para Un Servicio en particular para Excel con [ServicioId].xlsx
--              ACUERDOS: Segun lo conversado en reunion del 30/07/2020 a las 9:30:
                1) Este SP simplemente traera los cambios de medidores (espansiones, fusiones, cambio de un medidor por otro, etc)
				desde la tabla DivisionCambiosMedidores para un ServicioID especifico
				2) * Queda pendiente consultar si lso cambios de medidores a extraer son desde el periodo:
					Noviembre Año Pasado -> Octubre Año Actual
-- Modificaciones:	2020-08-06 13:21 => Se agregaron valores default (-1 para ids de medidor, id nro cliente e id empresa dist y 1901-01-01 para fecha creacion
					para campos de variable tipo tabla @compras_energ_por_division)
					2020-08-06 13:28 => Se borro campo repetido EnergeticoId
					2020-08-06 13:33 => Se agregaron valores default (-1 para ids de medidor, id nro cliente e id empresa dist y 1901-01-01 para fecha creacion
					para select final que arroja el SP)
					2020-08-11 19:25 => Se agrego una variable tipo tabla como paso intermedio para generar los textos de fusiones, bifurcaciones o cambios de medidores 
					para una division, cambio y medidor inicial dado. Segun reunion de hoy 11 de Agosto de 2020 a las 15:00, los ids de medidores en dicha tabla
					seran del mismo tipo de energético. La lógica para llenar dicha variable tipo tabla se debe investigar y planear.
					2020-08-12 14:15 => Se modificaron variables tipo tabla y se empleó uso de CTE recursiva para mostrar los cambios de medidores como strings
					donde tieen el formato "NroMedAntiguo1; NroMedAntiguo2; NroMedAntiguo3 > NroMedNuevo1" (fusión)
					o bien "NroMedAntiguoABC > NroMedAntiguoA; NroMedAntiguoB; NroMedAntiguoC" (bifurcación) y ademas a medidores inactivos se le coloca 
					un signo de tilde '~' reemplazando el espacio delante del nro de medidor de lo contrario se conserva el espacio. El resultado parece ser
					plausible y se ejecuta muy rápido para cada servicio (en comparacion a hacerlo con net core)
					2020-08-20 09:55 => Se elimino de las queries el armado del string de cambio de medidor (med1;med2 > med3;med4;med5) pues sería
					MUCHO tiempo de desarrollo el ampliar dicha lógica en SQL para casos N a M, con N y M arbitrarios (ambos > 0)
					2020-08-21 10:53 => Cambiando lógica para mostrar cambios de medidores, si los hubiese
					2020-08-21 15:55 => Cambiando lógica para cruzarse con tabla DivisionCambiosMedidores y mostrar resultado expandido para que
					la AGRUPACIÓN la haga la APLICACiÓN ORQUESTADORA .NET CORE 2.1
					2020-08-24 10:15 => Corrigiendo lógica para cruzarse con tabla DivisionCambiosMedidores y mostrar resultado expandido para que
					la AGRUPACIÓN la haga la APLICACiÓN ORQUESTADORA .NET CORE 2.1 (hay energe
					2020-08-24 16:40 => Aún Corrigiendo lógica para cruzarse con tabla DivisionCambiosMedidores y mostrar resultado expandido para que
					la AGRUPACIÓN la haga la APLICACiÓN ORQUESTADORA .NET CORE 2.1 (hay energe
					2020-08-24 19:40 => Todavía Corrigiendo lógica para cruzarse con tabla DivisionCambiosMedidores y mostrar resultado expandido para que
					la AGRUPACIÓN la haga la APLICACiÓN ORQUESTADORA .NET CORE 2.1 (hay energe
					2020-08-26 16:48 => Viendo temas de registros que sobran, especialmente en ServId = 637: Se agregó
					en el LEFT JOIN con NumeroCliente la condición "and nc.DivisionId = div.Id" para ver si se corrige cantidad de registros (SrvId 637)
					2020-08-26 17:00 => Viendo temas de registros que sobran, especialmente en ServId = 637: en el LEFT JOIN con NumeroCliente 
					la condición "and nc.DivisionId = div.Id" no corrige cantidad sobrante de registros (SrvId 637), sin embargo, aparecen 2 divisiones
					que no estan activas en este SP y en el reporte original NO APARECEN. Se intentará mostrar sólo DIVISIONES con campo Active=1.
					EDIT: al parecer funciona, NO QUITA DEMASIADOS REGISTROS
					2020-08-26 18:26 => Viendo temas de registros que sobran, especialmente en ServId = 637: en el LEFT JOIN con MedidorDivision para
					reporte de carga NO APARECE por ningun lado los Id's medidores 3800918, 3800919 Y 3777923
-- =============================================
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 376 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 567 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 470 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 468 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 491 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 449 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 526 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 700 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 637 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 566 
 EXEC [SP_DIVISION_CAMBIOS_MEDIDORES] 710
 */
CREATE PROCEDURE [dbo].[SP_DIVISION_CAMBIOS_MEDIDORES]
@ServicioIdParam bigint
AS
BEGIN

SET NOCOUNT ON;


--declare @compras_energ_por_division table
--(DivisionId bigint
--,EnergeticoId bigint
--,NroClienteId bigint
--,NroMedidorId bigint
--PRIMARY KEY (DivisionId, EnergeticoId, NroClienteId, NroMedidorId)
--) 

declare @texto_sin_medidor varchar(16)

declare @cambios_medidores_div_ener table
(DivisionId bigint
,CambioId bigint
,NroMedidorAntiguoId bigint
,NroMedidorAntiguo varchar(64) null
,NroMedidorNuevoId bigint
,NroMedidorNuevo varchar(64) null
) 

set @texto_sin_medidor = 'sin medidor'
--declare @pivot_table TABLE
--(
--	PivotDivKey bigint not null,
--	PivotChangeKey bigint not null,
--	ValueKey bigint not null,
--	PRIMARY KEY (PivotDivKey, PivotChangeKey, ValueKey)
--)

--declare @pivot_table_tmp TABLE
--(
--	PivotDivKey bigint not null,
--	PivotChangeKey bigint not null,
--	ValueKey bigint not null,
--	PRIMARY KEY (PivotDivKey, PivotChangeKey, ValueKey)
--)

--declare @fechaHoy datetime2(7)
--declare @fechaMin datetime2(7)
--declare @FechaMax datetime2(7)
--declare @fechaDefault datetime2(7)
--set @fechaHoy = GETDATE()
--set @fechaDefault = DATEFROMPARTS(1901, 01 , 01)
--set @fechaMax = DATEFROMPARTS(YEAR(@fechaHoy), 10 , 31)
--set @fechaMin = DATEFROMPARTS(YEAR(@fechaHoy)-1, 11 , 1)
--select @fechaMin, @fechaMax

SET ANSI_WARNINGS OFF;

----select * from @cambios_medidores_div_ener
insert @cambios_medidores_div_ener (DivisionId, CambioId, NroMedidorAntiguoId, NroMedidorAntiguo, NroMedidorNuevoId, NroMedidorNuevo)
select div.Id, dcm.CambioId, dcm.MedidorAntiguoId, medOld.Numero, dcm.MedidorNuevoId, medNew.Numero
from Divisiones div
join DivisionCambiosMedidores dcm on dcm.DivisionId = div.Id
left join Medidores medOld on medOld.Id = dcm.MedidorAntiguoId
left join Medidores medNew on medNew.Id = dcm.MedidorNuevoId
where div.ServicioId = @ServicioIdParam and div.Active = 1
group by div.Id, dcm.CambioId, dcm.MedidorAntiguoId, medOld.Numero, MedidorNuevoId, medNew.Numero

--insert @cambios_medidores_div_ener (DivisionId, CambioId, NroMedidorId, NroMedidor)
--select distinct div.Id, dcm.CambioId, dcm.MedidorNuevoId, ISNULL(medNew.Numero,'')
--from Divisiones div
--join DivisionCambiosMedidores dcm on dcm.DivisionId = div.Id
--join Medidores medNew on medNew.Id = dcm.MedidorNuevoId
----left join Medidores medNew on medNew.Id = dcm.MedidorNuevoId
--where div.ServicioId = @ServicioIdParam

--insert @compras_energ_por_division
--select	dv.Id 'DivisionId'
--		,eng.Id 'EnergeticoId'
--		,ISNULL(nc.Id,-1) 'NroClienteId'
--		,ISNULL(med.Id,-1) 'NroMedidorId'
--from Divisiones dv
--join Compras cmp on cmp.DivisionId = dv.Id --and cmp.Active = 1
--join Energeticos eng on eng.Id = cmp.EnergeticoId --and en.Active = 1
--left join NumeroClientes nc on cmp.NumeroClienteId = nc.Id
--left join CompraMedidor cme on cme.CompraId = cmp.Id--and cmp.Active = 1
--left join Medidores med on cme.MedidorId = med.Id and med.NumeroClienteId = nc.Id
--where dv.ServicioId = @ServicioIdParam --and dv.Active = 1
----AND (ISNULL(cmp.InicioLectura,cmp.FechaCompra) between @fechaMin and @fechaMax OR nc.Id is null)
---- and -cast(en.PermiteMedidor as int) * cast(ISNULL(-NumeroClienteId,1) as int) >= 0
----	where d.ServicioId = @ServicioId
--group by dv.Id, eng.Id, ISNULL(nc.Id,-1), ISNULL(med.Id,-1)
--order by  dv.Id, eng.Id
SET ANSI_WARNINGS ON;

select distinct
 div.Id 'DivisionId'
,ISNULL(ene.Id,0) 'EnergeticoId'
,div.Direccion 'Division'
,reg.Id 'RegionId'
,reg.Posicion 'RegionPos'
,reg.Nombre 'RegionNom'
,com.Nombre 'Comuna'
,ISNULL(ed.Id, -1) 'NroEmpresaDistId'
,ISNULL(nc.Id, -1) 'NroClienteId'
,ISNULL(mdv.MedidorId, -1) 'MedidorDivisionId'
,ISNULL(med.Numero, @texto_sin_medidor) 'NroMedidorDivision'
,ISNULL(ed.Nombre, @texto_sin_medidor) 'EmpresaDistribuidora'
,ISNULL(nc.Numero, @texto_sin_medidor) 'NroCliente'
,ISNULL(cme.CambioId,-1) 'CambioId'
,ISNULL(cme.NroMedidorAntiguoId,-1) 'MedidorAntiguoId'
,ISNULL(cme.NroMedidorNuevoId,-1) 'MedidorNuevoId'
,ISNULL(cme.NroMedidorAntiguo,@texto_sin_medidor) 'NroMedidorAntiguo'
,ISNULL(cme.NroMedidorNuevo,@texto_sin_medidor) 'NroMedidorNuevo'
,ISNULL(ene.Nombre,@texto_sin_medidor) 'Energetico'
,div.ReportaPMG 'ReportaPMG'
--,ISNULL(dcmOld.CambioId,-1) 'CambioMedidorIdOld'
--,ISNULL(dcmNew.CambioId,-1) 'CambioMedidorIdNew'
----,ISNULL(cmd.CambioId,-100) 'CambioMedidorCmdId'
--,ISNULL(dcmOld.MedidorAntiguoId,-1) 'MedidorAntiguoId'
--,ISNULL(dcmNew.MedidorNuevoId,-1) 'MedidorNuevoId'
--,ISNULL(dcmOld.,'') 'NroMedidorAntiguo'
--,ISNULL(dcmNew.MedidorNuevoId,'') 'NroMedidorNuevo'
--,ISNULL(cmd.NroMedidorId, -1000)  'MedidorCmdId'
--,ISNULL(dcc.CreatedAt,@fechaDefault) 'FechaIngresoCambioMed'
from Divisiones div 
join Edificios edi on div.EdificioId = edi.Id
join Comunas com on edi.ComunaId = com.Id
join Regiones reg on com.RegionId = reg.Id
--join con variable tipo tabla de compras para que salgan MAS resultados
--join @compras_energ_por_division cmp on cmp.DivisionId = div.Id
--join Energeticos ene on ene.Id = cmp.EnergeticoId
--fin join con variable tipo tabla de compras
left join MedidorDivision mdv on mdv.DivisionId = div.Id and mdv.Active = 1--and mdv.DivisionId = edv.DivisionId
left join Medidores med on mdv.MedidorId = med.Id
left join NumeroClientes nc on med.NumeroClienteId = nc.Id
left join EmpresaDistribuidoras ed on nc.EmpresaDistribuidoraId = ed.Id --and ed.EnergeticoId = ene.Id --and ed.EnergeticoId = edv.EnergeticoId
left join Energeticos ene on ene.Id = ed.EnergeticoId
--join Energeticos ene on edv.EnergeticoId = ene.Id
--left join EnergeticoDivision edv on edv.DivisionId = div.Id
left join @cambios_medidores_div_ener cme on cme.DivisionId = div.Id and med.Id = ISNULL(cme.NroMedidorNuevoId,-1) or med.Id = ISNULL(cme.NroMedidorAntiguoId,-1)
--left join DivisionCambiosMedidores dcmOld on dcmOld.DivisionId = div.Id and dcmOld.MedidorAntiguoId = med.Id
--left join DivisionCambiosMedidores dcmNew on dcmNew.DivisionId = div.Id and dcmNew.MedidorNuevoId = med.Id
--left join Medidores medOld on dcmOld.MedidorAntiguoId = medOld.Id
--left join Medidores medNew on dcmOld.MedidorNuevoId = mednew.Id
--left join @cambios_medidores_div_ener cmd 
--	on cmd.CambioId = dcc.CambioId 
--	and cmd.DivisionId = dcc.DivisionId
--	and (cmd.NroMedidorId = dcc.MedidorAntiguoId or cmd.NroMedidorId = dcc.MedidorNuevoId) -- and cmd.DivisionId = dcc.DivisionId  --cmd.CambioId = dcc.CambioId and 
----left join @cambios_medidores_div_ener cmd on cmd.NroMedidorId = dcc.MedidorAntiguoId or cmd.NroMedidorId = dcc.MedidorNuevoId -- and cmd.DivisionId = dcc.DivisionId  --cmd.CambioId = dcc.CambioId and 
where div.ServicioId = @ServicioIdParam and div.Active = 1

SET ANSI_WARNINGS ON;
END