@model GobEfi.Web.Models.RolModels.RolModel

@{
    ViewData["Title"] = "Crear";
}

<h2>Crear Rol</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                @await Html.PartialAsync("../Shared/_BtnActions", new BtnActions { Crear = true, Volver = true })
            </div>
        </form>
    </div>
</div>

<script>
    $("body").on("click", "#btnActions-btnVolver", function (e) {
        e.preventDefault();
        window.location = "@Url.Action("Index","AdminRol")";
    });
</script>