
<section class="contenidogeneral container-fluid">
    <div class="container">
        <div class="logogestiona col-md-4 col-md-offset-4 text-center">
            <img src="~/images/logo2.png" alt="Gestiona Energía">
        </div>
    </div>
    <div class="container mensaje">
        <p class="text-center col-md-6 col-md-offset-3">
            Es una iniciativa del Ministerio de Energía que tiene por objetivo promover el uso eficiente de las fuentes energéticas en el sector público y privado, contribuyendo a fomentar la sustentabilidad del país.
        </p>
    </div>
    <div class="container tresbotones">
        <div class="col-md-4">
            <a href="http://www.gestionaenergia.cl/sectorpublico/" class="btnsectorpublico">
                <div class="col-xs-9">
                    <h6>Ingreso al Sector</h6>
                    <h3>PÚBLICO</h3>
                </div>
                <div class="col-xs-3 text-right">
                    <h3 class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-top:7px;"></h3>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.gestionaenergia.cl/mipymes/" class="btnsectormypymes">
                <div class="col-xs-9">
                    <h6>Ingreso al Sector</h6>
                    <h3>MyPYMEs</h3>
                </div>
                <div class="col-xs-3 text-right">
                    <h3 class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-top:7px;"></h3>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="http://viviendas.gestionaenergia.cl/" class="btnsectorvivienda">
                <div class="col-xs-9">
                    <h6>Ingreso al Sector</h6>
                    <h3>VIVIENDA</h3>
                </div>
                <div class="col-xs-3 text-right">
                    <h3 class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-top:7px;"></h3>
                </div>
            </a>
        </div>

    </div>
</section>


