@{
    ViewData["Title"] = "Mi unidad";
}
<!-- pagina no usada actualmente 02/10/2018 -->
<div class="col-md-10">
    <div class="row">
        <div class="col-12">
            <h4>Escritorio</h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <a asp-controller="miunidad" asp-action="index">
                <h6>Mi Unidad</h6>
                <img class="img-fluid" src="~/images/mi_unidad.svg" width="100px">
            </a>
        </div>
        <div class="col-md-3">
            <h6>Gestores</h6>
            <img class="img-fluid" src="http://via.placeholder.com/100x100">
        </div>
        <div class="col-md-3">
            <h6>Mis usos</h6>
            <img class="img-fluid" src="http://via.placeholder.com/100x100">
        </div>
        <div class="col-md-3">
            <h6>Mis usos</h6>
            <img class="img-fluid" src="http://via.placeholder.com/100x100">
        </div>
    </div>
</div>