<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <!-- DESARROLLO -->
    <!--<add name="GE2.0" connectionString="Server=(localdb)\MSSQLLocalDB;Database=gestiona_energia;User Id=usr_gestiona;Password=gestiona1234!!;" providerName="System.Data.SqlClient" />-->
   
    <!--CERTIFICACION -->
	  <!--<add name="GE2.0" connectionString="Server=192.168.10.4;Database=gestiona_energia;User Id=usr_gestiona;Password=gestiona1234!!" providerName="System.Data.SqlClient" />-->
  
    <!-- PRODUCCION  -->
  <add name="GE2.0" connectionString="Server=10.0.4.70;Database=gestiona_energia;User Id=usr_gestiona;Password=gestiona1234!!" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
  <appSettings>

    <add key="logPath" value="C:\APPME\GE\Logs\" />
    <add key="RutaTemp" value="C:\APPME\GE\Temp\GE2.0\"/>


	  <!--<add key="RutaDestino" value="C:\APPME\GE\ReportesDiarios-->
    <add key="RutaDestino" value="\\10.0.2.105\INTERCAMBIO_GESTIONAENERGIA\2.0"/>
    <add key="impersonalizar" value="true" />
    <add key="usuario" value="genergia" />
    <add key="clave" value="Energia1449" />
    <add key="dominio" value="MINENERGIA" />
    
  </appSettings>
</configuration>